@using System.Text.Json
@using SportsStatistics.Domain.Competitions
@using SportsStatistics.Domain.Fixtures
<FluentStack HorizontalAlignment="HorizontalAlignment.Stretch" Orientation="Orientation.Vertical">

    <FluentLabel Typo="Typography.Header">
        Upload Fixtures
    </FluentLabel>

    <FluentSpacer />

    @if (File is null)
    {
        <FluentInputFile Id="fixture-file-uploader"
                         Mode="InputFileMode.SaveToTemporaryFolder"
                         Multiple="false"
                         MaximumFileCount="1"
                         MaximumFileSize="@(10*1024*1024)"
                         Accept="application/json"
                         @bind-ProgressPercent="@ProgressPercent"
                         OnCompleted="@OnCompletedAsync"
                         Style="height: 300px;">
            <ChildContent>
                <label for="fixture-file-uploader">
                    <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" />
                </label>

                <div>
                    Drag the <strong>.json</strong> file here you wish to upload,
                    or <label for="fixture-file-uploader">browse</label> for it.
                </div>
            </ChildContent>
        </FluentInputFile>
    }
    else
    {
        @foreach (var season in Seasons)
        {
            <FluentDataGrid Items="@(new[] { season }.AsQueryable())">
                <PropertyColumn Property="@(season => $"{season.StartDate:yyyy-MM-dd} - {season.EndDate:yyyy-MM-dd}")" Title="Season" />
            </FluentDataGrid>

            @foreach (var competition in season.Competitions)
            {
                <FluentDataGrid Items="@(new[] { competition }.AsQueryable())">
                    <PropertyColumn Property="@(competition => $"{competition.Name} - {(competition.Format == null ? "Unknown" : competition.Format.Name)}")" Title="Competition" />
                </FluentDataGrid>

                <FluentDataGrid Items="@competition.Fixtures.AsQueryable()">
                    <PropertyColumn Property="@(fixture => $"{fixture.Opponent} - {fixture.KickoffTimeUtc:yyyy-MM-dd HH:mm} - {(fixture.Location == null ? "Unknown" : fixture.Location.Name)}")" Title="Fixture" />
                </FluentDataGrid>
            }
        }
    }

</FluentStack>

@code {
    int ProgressPercent = 0;
    FluentInputFileEventArgs? File;

    private List<SeasonUploadInputModel> Seasons { get; set; } = [new()];

    private async Task OnCompletedAsync(IEnumerable<FluentInputFileEventArgs> files)
    {
        // Ensure we only upload one file at a time.
        File = files.FirstOrDefault();

        if (File is null || File.LocalFile is null || !File.Name.EndsWith(".json", StringComparison.OrdinalIgnoreCase))
        {
            return;
        }

        using var stream = File.LocalFile.OpenRead();
        using var reader = new StreamReader(stream);
        var json = await reader.ReadToEndAsync();

        try
        {
            var fixtureUploadContainer = JsonSerializer.Deserialize<FixtureUploadContainer>(json, JsonSerializerOptions.Web);

            if (fixtureUploadContainer is not null)
            {
                Seasons = fixtureUploadContainer.Seasons.Select(season => 
                    new SeasonUploadInputModel
                    {
                        StartDate = season.StartDate,
                        EndDate = season.EndDate,
                        Competitions = season.Competitions.Select(competition =>
                            new CompetitionUploadInputModel
                            {
                                Name = competition.Name,
                                Format = Format.List.FirstOrDefault(format => format.Name.Equals(format.Name))?.ToDto(),
                                Fixtures = competition.Fixtures.Select(fixture =>
                                    new FixtureUploadInputModel
                                    {
                                        Opponent = fixture.Opponent,
                                        KickoffTimeUtc = fixture.KickoffTimeUtc,
                                        Location = Location.List.FirstOrDefault(location => location.Name.Equals(fixture.Location))?.ToDto(),
                                    }
                                ).ToList()
                            }
                        ).ToList()
                    }
                ).ToList();

                await InvokeAsync(StateHasChanged);
                
                // Validate?
                // Upload?
                // Start Again?
            }
        }
        catch (Exception exception)
        {
            ToastService.ShowError(exception.Message);
        }

        // Delete the temporary file after.
        File.LocalFile?.Delete();

        await Task.CompletedTask;
    }
}
