@using System.Text.Json
@using SportsStatistics.Domain.Competitions
@using SportsStatistics.Domain.Fixtures
<FluentStack HorizontalAlignment="HorizontalAlignment.Stretch" Orientation="Orientation.Vertical">

    <FluentLabel Typo="Typography.Header">
        Upload Fixtures
    </FluentLabel>

    <FluentSpacer />

    @if (File is null)
    {
        <FluentInputFile Id="fixture-file-uploader"
                         Mode="InputFileMode.SaveToTemporaryFolder"
                         Multiple="false"
                         MaximumFileCount="1"
                         MaximumFileSize="@(10*1024*1024)"
                         Accept="application/json"
                         @bind-ProgressPercent="@ProgressPercent"
                         OnCompleted="@OnCompletedAsync"
                         Style="height: 300px;">
            <ChildContent>
                <label for="fixture-file-uploader">
                    <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" />
                </label>

                <div>
                    Drag the <strong>.json</strong> file here you wish to upload,
                    or <label for="fixture-file-uploader">browse</label> for it.
                </div>
            </ChildContent>
        </FluentInputFile>
    }
    else
    {
        <FluentDataGrid Items="@Fixtures"
                        ResizableColumns=true
                        ResizeType="DataGridResizeType.Discrete"
                        RowSize="DataGridRowSize.Medium">
            <PropertyColumn Title="Season" Property="@(fixture => fixture.SeasonDisplay)" />
            <PropertyColumn Title="Competition" Property="@(fixture => fixture.CompetitionDisplay)" />
            <TemplateColumn Title="Opponent">
                <FluentTextField @bind-Value="@context.Opponent" />
            </TemplateColumn>
            <TemplateColumn Title="Date">
                <FluentDatePicker @bind-Value="@context.KickoffDateUtc" />
            </TemplateColumn>
            <TemplateColumn Title="Time">
                <FluentTimePicker @bind-Value="@context.KickoffTimeUtc" />
            </TemplateColumn>
            <TemplateColumn Title="Location" Style="overflow: visible;">
                <FluentSelect TOption=LocationOptionDto
                              Items="LocationOptions"
                              Placeholder="Select a location..."
                              OptionText="(p => p.Name)"
                              @bind-SelectedOption="@context.Location"
                              Width="10rem"/>
            </TemplateColumn>
            <TemplateColumn Align="Align.End">
                <FluentButton IconEnd="@(new Icons.Regular.Size20.Delete())" Appearance="Appearance.Accent" Title="Delete" />
            </TemplateColumn>
        </FluentDataGrid>

        <FluentSpacer />

        <FluentButton OnClick="@UploadFixtures">Upload</FluentButton>
        <FluentButton OnClick="@Cancel">Cancel</FluentButton>
        <FluentButton OnClick="@Reset">Reset</FluentButton>
    }

</FluentStack>

@code {
    [Parameter] public EventCallback<List<FixtureUploadInputModel>> OnUploadFixtures { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    int ProgressPercent = 0;
    FluentInputFileEventArgs? File;

    private List<SeasonUploadInputModel> Seasons { get; set; } = [];
    private IEnumerable<LocationOptionDto> LocationOptions = Location.List.Select(p => p.ToDto());

    private IQueryable<FixtureUploadInputModel> Fixtures => Seasons.SelectMany(season => season.Competitions)
                                                                   .SelectMany(competition => competition.Fixtures)
                                                                   .OrderBy(fixture => fixture.KickoffDateUtc)
                                                                   .ThenBy(fixture => fixture.KickoffTimeUtc)
                                                                   .AsQueryable();

    private async Task OnCompletedAsync(IEnumerable<FluentInputFileEventArgs> files)
    {
        // Ensure we only upload one file at a time.
        File = files.FirstOrDefault();

        if (File is null || File.LocalFile is null || !File.Name.EndsWith(".json", StringComparison.OrdinalIgnoreCase))
        {
            return;
        }

        using var stream = File.LocalFile.OpenRead();
        using var reader = new StreamReader(stream);
        var json = await reader.ReadToEndAsync();

        try
        {
            var fixtureUploadContainer = JsonSerializer.Deserialize<FixtureUploadContainer>(json, JsonSerializerOptions.Web);

            if (fixtureUploadContainer is not null)
            {
                Seasons = fixtureUploadContainer.Seasons.Select(season => 
                    new SeasonUploadInputModel
                    {
                        StartDate = season.StartDate,
                        EndDate = season.EndDate,
                        Competitions = season.Competitions.Select(competition =>
                        {
                            var competitionFormat = Format.List.FirstOrDefault(format => format.Name.Equals(competition.Format));
                            return new CompetitionUploadInputModel
                            {
                                Name = competition.Name,
                                FormatId = competitionFormat?.Value,
                                Fixtures = competition.Fixtures.Select(fixture =>
                                    new FixtureUploadInputModel
                                    {
                                        Season = season,
                                        Competition = competition,
                                        Opponent = fixture.Opponent,
                                        KickoffDateUtc = fixture.KickoffTimeUtc,
                                        KickoffTimeUtc = fixture.KickoffTimeUtc,
                                        Location = Location.List.FirstOrDefault(location => location.Name.Equals(fixture.Location))?.ToDto(),
                                    }
                                ).ToList()
                            };
                        }).ToList()
                    }
                ).ToList();

                await InvokeAsync(StateHasChanged);
                
                // Validate?
                // Upload?
                // Start Again?
            }
        }
        catch (Exception exception)
        {
            ToastService.ShowError(exception.Message);
        }

        // Delete the temporary file after.
        File.LocalFile?.Delete();

        await Task.CompletedTask;
    }

    private async Task Cancel()
    {
        await OnCancel.InvokeAsync();
    }

    private void Reset()
    {
        ProgressPercent = 0;
        File = null;
    }

    private async Task UploadFixtures()
    {
        await OnUploadFixtures.InvokeAsync(Fixtures.ToList());
    }
}
