@implements IDialogContentComponent<IQueryable<PlayerFixtureStatisticsDto>>

@* Header *@
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

@* Body *@
<FluentDialogBody>
    <div style="display: table; table-layout: fixed; width: 100%;">
        <div style="overflow-x: auto;">
            <FluentDataGrid Items="@Content"
                            ResizableColumns="true"
                            ShowHover
                            Style="min-width: max-content;">

                <PropertyColumn Property="@(p => p.PlayerName)" Title="Player" Sortable="true" />

                <PropertyColumn Property="@(p => p.Position)" Title="Pos" Sortable="true" />

                <PropertyColumn Property="@(p => p.MinutesPlayed)" Title="Minutes" Sortable="true" />

            </FluentDataGrid>
        </div>
    </div>
</FluentDialogBody>


@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@CloseAsync">Close</FluentButton>
</FluentDialogFooter>

@code {
    [Parameter]
    public IQueryable<PlayerFixtureStatisticsDto> Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    private async Task CloseAsync()
    {
        await Dialog.CloseAsync();
    }
}